# Django converage setting - GG
[report][run][html]
omit =
    # omit anything in a venv
    *virtualenvs*
    # omit config folder
    config/*
    # omit migration file
    */migrations/*
    # omit init file
    *__init__.py*
    # omit tests files and folder
    */tests/*
    *.local*
    *admin.py*
    *manage.py*
