
{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
    
      
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
          {% block bodyheader %}
    <div class="bg-white container">

      <div class="jumbotron">
        <h1 style="margin-left: 22px; margin-top:10px" >Vous avez rejoint la bêta test </h1>
        <hr>
      
          <p>Merci d'avoir rejoint la phase de test de Front Desk, n'hésitez pas à  <a href="mailto:hello@gaetangr.me">me contacter</a> directement pour vos retours. </p>
         <p>Cela aidera Front Desk à cibler les besoins utilisateur pour déployer de nouveaux outils</p>
        
       
        </ul>
      </div>
      
{% endblock %}

            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
<div style="color:rgb(255, 255, 255);" class="footer">
  <a href="https://www.linkedin.com/company/71615448/admin/">Linkedin </a> |  <a href="https://twitter.com/frontdesk_app">Twitter</a> | <a href="mailto:hello@gaetangr.me">Support</a>
</div>
{% endblock %}