{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    Vous êtes authentifié comme {{ username }}, mais votre compte ne dispose pas des droits suffisants. 
    Vous pouvez demander un accès à votre manager ou vous connectez avec un compte différent
    <br>
    <a href="https://beta.front-desk.app/documentation/account-manager">En savoir plus</a>
{% endblocktranslate %}
</p>
{% else %}
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Espace manager</h4>
  <p>Vous tentez d'accéder à l'espace manager, cet espace vous permet de gérer l'intégralité de votre établissement </p>
  <hr>
  <p class="mb-0">Un compte autorisé est requis <strong><a href="https://beta.front-desk.app/documentation/account-manager">en savoir plus</a></strong> .</p>
</div>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
    <p>Identifiant utilisé lors de l'inscription</p>
  </div>

  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <input type="submit" value="{% translate 'Log in' %}">
  </div>
</form>

</div>
{% endblock %}